#modalDialog {
  overflow: auto; /* This is changed by enscroll, but must be defined */
  width: 100% !important; /* The arbitrary width and height of the view pane */
}
.vertical-track {
  width: 16px;            /* How wide is the scrollbar going to be? */
  background-color: #aaa; /* What color should the vertical track be? */
}
.vertical-handle {
  width: 16px;            /* How wide is the scrollbar handle? */
  background-color: #aaf; /* What color should the handle be? */
}