@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue/BebasNeue.eot');
    src: url('../fonts/BebasNeue/BebasNeue.eot') format('embedded-opentype'),
         url('../fonts/BebasNeue/BebasNeue.woff2') format('woff2'),
         url('../fonts/BebasNeue/BebasNeue.woff') format('woff'),
         url('../fonts/BebasNeue/BebasNeue.ttf') format('truetype'),
         url('../fonts/BebasNeue/BebasNeue.svg#BebasNeue') format('svg');
}
@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/BebasRegular/BebasRegular.eot');
    src: url('../fonts/BebasRegular/BebasRegular.eot') format('embedded-opentype'),
         url('../fonts/BebasRegular/BebasRegular.woff2') format('woff2'),
         url('../fonts/BebasRegular/BebasRegular.woff') format('woff'),
         url('../fonts/BebasRegular/BebasRegular.ttf') format('truetype'),
         url('../fonts/BebasRegular/BebasRegular.svg#BebasRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaLight';
    src: url('../fonts/HelveticaLight/HelveticaLight.eot');
    src: url('../fonts/HelveticaLight/HelveticaLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaLight/HelveticaLight.woff2') format('woff2'),
         url('../fonts/HelveticaLight/HelveticaLight.woff') format('woff'),
         url('../fonts/HelveticaLight/HelveticaLight.ttf') format('truetype'),
         url('../fonts/HelveticaLight/HelveticaLight.svg#HelveticaLight') format('svg');
}
@font-face {
    font-family: 'HelveticaThin';
    src: url('../fonts/HelveticaThin/HelveticaThin.eot');
    src: url('../fonts/HelveticaThin/HelveticaThin.eot') format('embedded-opentype'),
         url('../fonts/HelveticaThin/HelveticaThin.woff2') format('woff2'),
         url('../fonts/HelveticaThin/HelveticaThin.woff') format('woff'),
         url('../fonts/HelveticaThin/HelveticaThin.ttf') format('truetype'),
         url('../fonts/HelveticaThin/HelveticaThin.svg#HelveticaThin') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/codropsicons/codropsicons.woff') format('woff'),
        url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
