@import "compass/reset";


body {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  cursor: default;
}
header {
  background-image: url("../img/top_bg.jpg");
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  min-height: 980px;
  .social-button {
    position: absolute;
    top: 40px;
    right: 374px;
    z-index: 100;
    -webkit-transition: top .2s ease-out 0.1s;
    -moz-transition: top .2s ease-out 0.1s;
    -o-transition: top .2s ease-out 0.1s;
    transition: top .2s ease-out 0.1s;
    ul{
      list-style-type: none;
      span{
        position: absolute;
        top: -2px;
        right: 39px;
        font-size: 44px;
        font-family: 'BebasNeue', sans-serif, Arial;
        color: #666;
        width: 280px;
      }
    }
    li{
      width: 35px;
      height: 35px;
      background-image: url("../img/soc-button.png");
      margin-bottom: 2px;
      cursor: pointer;
      position: relative;

    }
    a{
      display: block;
      width: 35px;
      height: 35px;
    }
  }
  .menu{
    background-position: -37px 0px;
    &:hover{
      background-position: 0 0;
    }
  }
  .twitter{
    background-position: 0 -35px;
    &:hover{
      background-position: 36px -35px;
    }
  }
  .skype{
    background-position: 0 -73px;
    &:hover{
      background-position: 36px -73px;
    }
  }
  .instagram{
    background-position: 0 -110px;
    &:hover{
      background-position: 36px -110px;
    }
  }

  .logo{
    margin: 0 auto;
    width: 640px;
    height: 380px;
    padding: 282px 0 90px 0;
    text-align: center;
    color: #F2F2F2;
    span{
      color: #ED1C24;
    }
    img{
      width: 140px;
      padding: 25px 0 10px;
    }
    h1{
      font-size: 92px;
      font-family: 'BebasNeue', Sans-serif, Arial;
    }
    p{
      font-family: 'HelveticaThin', sans-serif, arial;
      font-size: 23px;
      opacity: .5;
      margin: 10px 75px;
    }
  }
  .link {
    width: 275px;
    height: 35px;
    margin: 0 auto;
    font-size: 17px;
    font-family: 'HelveticaThin', Sans-serif, Arial;
    text-transform: uppercase;
    background-color: #ED1C24;
    cursor: pointer;
    &:hover{
      background-color: #ff000a;
    }
    &:active{
      background-color: #af1319;
      color: #a2a2a2;
    }
    a{
      display: inline-block;
      text-align: center;
      width: 100%;
      padding-top: 10px;
      text-decoration: none;
      color: #fff;
    }
  }
  .look{
    width: 140px;
    height: 35px;
    margin: 130px auto 0;
    font-family: 'HelveticaThin', sans-serif, arial;
    font-size: 19px;
    color: #F2F2F2;
    background-image: url("../img/icon/bottom_arrow.png");
    background-repeat: no-repeat;
    background-position: -35px 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    opacity: 1;
    img{
      width:30%;
    }
  }
}
.animate-soc-button{
  top: 90px !important;
}

.section-title{
  height: 185px;
  text-align: center;
  font-family: 'BebasNeue', sans-serif, arial;
  font-size: 45px;
  color: #4D4D4D;
  background-image: url("../img/trianglexxx.png");
  background-repeat: no-repeat;
  background-position: 50% 80%;
  clear: both;
  position: relative;
  letter-spacing: 1px;
  p{
    padding: 75px;
  }
}
.top-content{
  height: 580px;
  background-image: url("../img/bg_content.jpg");
  background-size: cover;
  background-position: 50% 20%;
  text-transform: uppercase;
  .text{
    width: 425px;
    font-family: 'BebasNeue', sans-serif, arial;
    font-size: 152px;
    color: #f2f2f2;
    padding: 80px 15px;
    opacity: .5;
    margin-left: 15%;
    position: relative;
  }
}
.main-content{
  height: 100%;
  font-family: 'BebasNeue', sans-serif, arial;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.info{
  width: 468px;
  margin: 40px 25px;
  font-family: 'HelveticaThin', Sans-serif, Arial;
  word-wrap: break-word;
  padding-top: 80px;
  h2{
    font-size: 63px;
  }
  p{
    font-size: 17px;
    padding-top: 25px;
    line-height: 1.2;
    font-family: 'HelveticaLight', Sans-serif, Arial;
  }
}
.info-biography{
  width: 435px;
  margin: 40px 25px;
  font-family: 'HelveticaThin', Sans-serif, Arial;
  word-wrap: break-word;
  padding-top: 20px;
  h2{
    font-size: 63px;
  }
  p{
    font-size: 17px;
    padding-top: 25px;
    line-height: 1.2;
    font-family: 'HelveticaLight', Sans-serif, Arial;
  }
}
.image-web-desing {
  margin-top: 45px;
  float: right;
  font-size: 288px;
  color: #F2f2f2;
  background-color: #E5EAEE;
  background-image: url("../img/Design.jpg");
  background-repeat: no-repeat;
  width: 54%;
  height: 433px;
  position: relative;
  p{
    padding: 70px 15px;
    opacity: 0.8;
  }
}
.image-development {
  margin-top: 45px;
  float: left;
  font-size: 143px;
  color: #F2f2f2;
  background-color: #4D3938;
  background-image: url("../img/develop.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  width: 53%;
  height: 430px;
  position: relative;
  p{
    padding-top: 70px;
    opacity: 0.8;
  }
  .img-text{
    width: 630px;
  }
}
.image-seo {
  margin-top: 45px;
  float: right;
  font-size: 527px;
  color: #F2f2f2;
  background-color: #8CA0B5;
  background-image: url("../img/SEO.jpg");
  background-repeat: no-repeat;
  width: 54%;
  height: 430px;
  position: relative;
  p{
    opacity: 0.8;
    margin-left: 25px;
  }
  .img-text{
    width: 630px;
  }
}

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  max-width: 1180px;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 48%;
    height: auto;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      width: 100%;
      opacity: 1;
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before, &::after {
        pointer-events: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 88%;
        height: 78%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }

    p {
      font-family:'BebasRegular', sans-serif, arial;
      margin: 0;
      letter-spacing: 1px;
      font-size: 33px;
    }
  }
}
.hover-effect {
  .wrap{
    width: 100%;
    height: auto;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
  }
  img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);

  }
  figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  }
  p {
    position: absolute;
    left: 44%;
    top: 39%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    margin: 3em;
    max-width: 150px;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    color: #fff;
  }
  h2 {
    text-align: left;
  }
  &:hover {
    .wrap{
      background: rgba(128, 128, 128, 1);
      z-index: 10;
    }
    img {
      opacity: .5;
      -webkit-transform: scale3d(1.05, 1.05, 1);
      transform: scale3d(1.05, 1.05, 1);
    }
    figcaption::before {
      -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
      transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);

    }
    p {
      opacity: 1;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
  }
}

.image-biography {
  float: right;
  font-family: 'HelveticaThin', sans-serif, arial;
  color: #F2f2f2;
  width: 57%;
  height: 395px;
  margin-bottom: 4%;
  p{
    opacity: 1;
  }
  .img-text{
    width: 630px;
  }
  .photo-gallery{
    width: 30%;
    display: inline-block;
    position: relative;
    margin: 0 10px 10px 0;
    height: 120px;
    font-size: 14px;
    img{
      width: 100%;
      transition: all .2s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;

    }
    figcaption{
      position: absolute;
      bottom: -10px;
      left: -10px;
      visibility: hidden;
      line-height: 16px;
      span{
        text-transform: capitalize;
      }
    }

    &:hover{
      z-index: 10;

      figcaption{
        visibility: visible;
      }
      img{
        position: absolute;
        top: -20px;
        left: -38px;
        width: 140%;
        -webkit-box-shadow: 0 0 50px 4px rgba(0,0,0,0.54);
        -moz-box-shadow: 0 0 50px 4px rgba(0,0,0,0.54);
        box-shadow: 0 0 50px 4px rgba(0,0,0,0.54);
      }
    }
    p{
      font-size: 17px;
      text-transform: uppercase;
    }
  }
  .wrap-image-biography{
    float: left;
    width: 720px;
  }
}
.last-section-title{
  background-color: #e6e6e6;
}
.location{
  background-color: #e6e6e6;
  min-height: 100%;
  position: relative;
  h3{
    text-align: left;
    font-size: 60px;
    font-family: 'BebasRegular', sans-serif, arial;
    color: #4D4D4D;
  }
  ul{
    font-family: 'HelveticaLight', Sans-serif, Arial;
    font-size: 20px;
    color: #808080;
    width: 330px;
    margin-top: 90px;
    margin-bottom: 95px;
    text-align: left;
  }
  li{
    background-repeat: no-repeat;
    padding-bottom: 5px;
    padding-left: 40px;
    line-height: 30px;
  }
  .address{
    background-image: url(../img/icon/position.png);
    background-position: 0 0;
  }
  .mail{
    background-image: url(../img/icon/mail.png);
    background-position: 0px -1px;
  }
  .phone{
    background-image: url(../img/icon/phone.png);
    background-position: 0 0;
  }
  a{
    text-decoration: none;
    font-size: 32px;
    font-family: 'BebasRegular', sans-serif, arial;
    color: #4D4D4D;
    display: block;
    text-align: left;
    &:hover{
      color: #272626;
    }
  }
}
.map{
  float: right;
  width: 59%;
}
.iframe{
  width: 745px;
  height: 623px;
  float: left;

}
.contact{
  text-align: center;
  width: 280px;
  float: right;
  margin-right: 120px;
  margin-top: 115px;
  border-bottom: 1px solid #4d4d4d;
}
footer{
  clear: both;
  background-color: #4D4D4D;
  height: 180px;
  position: relative;
}
.logo-footer{
  text-align: center;
  color: #F2F2F2;
  width: 410px;
  position: relative;
  padding-top: 70px;
  margin-left: 20%;
  span{
    color: #ED1C24;
  }
  img{
    width: 75px;
    float: left;
    margin-top: -5px;
  }
  p{
    font-size: 54px;
    font-family: 'BebasNeue', Sans-serif, Arial;
  }
}
.footer-social-button{
  position: absolute;
  top: 77px;
  right: 20%;
  li{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../img/soc-button.png");
    margin-bottom: 2px;
    cursor: pointer;
    }
  a{
    display: block;
    width: 35px;
    height: 35px;
  }

  .twitter{
    background-position: 0 -35px;
    &:hover{
      background-position: 36px -35px;
    }
  }
  .skype{
    background-position: 0 -73px;
    &:hover{
      background-position: 36px -73px;
    }
  }
  .instagram{
    background-position: 0 -110px;
    &:hover{
      background-position: 36px -110px;
    }
  }
}
.clear{
  clear: both;
  padding-top: 68px;
}
.nav-menu-animate{
  top: 0 !important;
}
.close-button{
  display: none;
}
.navigation-menu {
  max-width: 1920px;
  position: absolute;
  top: -75px;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #fff;
  display: inline-block;
  z-index: 2000;
  -webkit-transition: top .2s ease-out 0.1s;
  -moz-transition: top .2s ease-out 0.1s;
  -o-transition: top .2s ease-out 0.1s;
  transition: top .2s ease-out 0.1s;
  .close-navigation-menu{
    display: none;
  }
  ul.navigation{
    margin-left: 5%;
    float: left;
  }
  li.navigation{
    display: inline-block;
    margin-left: 10px;
    a.navigation {
     display: block;
     position: relative;
     text-align: center;
     padding-top: 30px;
     border-bottom: none;
     text-transform: uppercase;
     font-size: 17px;
     color: #4D4D4D;
     font-family: 'HelveticaLight', Sans-serif, Arial;
     text-decoration: none;
     &:hover, &.active{
       color: #000;
       font-weight: 600;
     }
     &:before{
       content: '';
       width: 10px;
       height: 10px;
       background-image: url("../img/dot.png");
       background-repeat: no-repeat;
       display: inline-block;
       padding-right: 10px;
     }
   }
 }

 li:last-child a.nav {
  &:after{
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
  }
}
.navigation-menu-social-button{
  float: right;
  list-style-type: none;
  margin: 23px 0;
  li{
    width: 28px;
    height: 28px;
    background-image: url("../img/soc-button.png");
    cursor: pointer;
    display: inline-block;
  }
  .twitter{
    background-position: -4px -38px;
    &:hover{
      background-position: 32px -38px;
    }
  }
  .skype{
    background-position: -5px -76px;
    &:hover{
      background-position: 31px -76px;
    }
  }
  .instagram{
    background-position: -5px -115px;
    &:hover{
      background-position: 31px -115px;
    }
  }
}
.link-menu {
  margin: 23px 4px;
  float: right;
  width: 158px;
  height: 28px;
  font-size: 15px;
  font-family: 'HelveticaThin', Sans-serif, Arial;
  text-transform: uppercase;
  background-color: #ED1C24;
  cursor: pointer;
  &:hover{
    background-color: #ff000a;
  }
  &:active{
    background-color: #af1319;
    color: #a2a2a2;
  }
  a{
    line-height: 18px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 6px;
    text-decoration: none;
    color: #fff;
  }
}
}
.navigation-menu-wrap{
  width: 1350px;
  margin: 0 auto;
}
.is-fixed {
  position: fixed;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
}
.menu-logo{
  float: left;
  font-family: 'BebasNeue', Sans-serif, Arial;
  font-size: 35px;
  color: #666;
  margin-top: 23px;
  span{
    color: #ED1C24;
  }
  img{
    margin: -5px 20px;
    float: left;
  }
  p{
    float: right;
  }
}
.overlay {
	background:transparent;
	position:relative;
	width:100%;
	height:550px;
	top:550px;
	margin-top:-550px;
}
.hidden{
  display: none;
}
.image-source-link {
  color: #98C3D1;
}


.bgimg1{
  position: absolute;
  top: 37%;
  left: 8%;
}

.bgimg2{
  position: absolute;
  top: -7%;
  left: 31%;
  z-index: -1;

}
.bgimg3{
  position: absolute;
  top: 49%;
  right: 14%;
  z-index: -1;

}
.bgimg4{
  position: absolute;
  top: 102%;
  left: -24%;
}
.bgimg5{
  position: absolute;
  top: 170%;
  left: 52%;
}
.bgimg6{
  position: absolute;
  bottom: -45%;
  right: 18%;
}
.bgimg7{
  position: absolute;
  top: -95%;
  right: 11%;
}
.bgimg8{
  position: absolute;
  bottom: -38%;
  right: 28%;
}
.bgimg9{
  position: absolute;
  bottom: -123%;
  right: 81%;
}
.bgimg10{
  position: absolute;
  top: 29%;
  left: 19%;
  z-index: -1;
}
.bgimg11{
  position: absolute;
  top: 49%;
  right: 4%;
}
.bgimg12{
  position: absolute;
  bottom: -7%;
  right: 10%;
}
.bgimg13{
  position: absolute;
  top: 230%;
  right: 8%;
}
.bgimg14{
  position: absolute;
  top: 63%;
  right: 22%;
}
.bgimg15{
  position: absolute;
  top: -41%;
  right: 10%;
}
.bgimg16{
  position: absolute;
  top: 221%;
  left: 4%;
}
.bgimg17{
  position: absolute;
  top: -15%;
  left: 10%;
}
.bgimg18{
  position: absolute;
  top: 266%;
  left: 5%;
}
.bgimg19{
  position: absolute;
  top: 85%;
  left: 24%;
}
.bgimg20{
  position: absolute;
  bottom: -7%;
  left: 16%;
}
.bgimg21{
  position: absolute;
  top: 0;
  left: 0;
}
.bgimg22{
  position: absolute;
  top: 188%;
  left: 5%;
}
.bgimg23{
  position: absolute;
  top: 300%;
  right: 12%;
}
.bgimg24{
  position: absolute;
  top: 20%;
  right: 26%;
}
.bgimg25{
  position: absolute;
  top: 400%;
  left: 3%;

}
.bgimg26{
  position: absolute;
  top: 70%;
  right: 6%;
}
#overlay{
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #262626;
  z-index: 9998;
  .loading{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 200px;
    height: auto;
    z-index: 1;
    -webkit-animation: fadeInFromNone 10s ease-in-out;
    -moz-animation: fadeInFromNone 10s ease-in-out;
    -o-animation: fadeInFromNone 10s ease-in-out;
    animation: fadeInFromNone 10s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    @-webkit-keyframes fadeInFromNone {
      0% {

        opacity: 1;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: none;
        opacity: 0;
      }
    }
    @-moz-keyframes fadeInFromNone {
      0% {
        display: block;
        opacity: 1;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: none;
        opacity: 0;
      }
    }



    @-o-keyframes fadeInFromNone {
      0% {
        display: block;
        opacity: 1;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: none;
        opacity: 0;
      }
    }

    @keyframes fadeInFromNone {
      0% {
        display: block;
        opacity: 1;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: none;
        opacity: 0;
      }
    }
  }
}
.modal{
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  padding: 0 30px;
  background-color: #262626;
  z-index: 9999;
  .close{
    position: fixed;
    right: 20px;
    top: 30px;
    width: 35px;
    height: 35px;
    color: #ffffff;
    font-family: 'BebasNeue', sans-serif, arial;
    border: none;
    padding-bottom: 0;
    font-size: 30px;
    cursor: pointer;
    background: #4d4d4d;
    z-index: 20;
    &:focus,&:active,&:hover{
      outline: none;
      color: #bfbebe;
      background: #3c3b3b;
    }
  }
  .modal-content{
    width: 95%;
    margin: 0 auto;
    max-width: calc(100% - 60px);
    position: relative;
    .loading{
      position: absolute;
      top: 200px;
      left: 50%;
      width: 200px;
      right: 50%;
      margin-left: -100px;
      height: auto;
      z-index: 1;
    }
    img.website{
      width: auto;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 10;
    }
    &:after{
      content: '  ';
      display: table;
    }
  }
}


@import 'form';
