/*==========  Desktop First Method  ==========*/
@media (max-width: 1600px) {
  header{
    min-height: 880px;
    .logo {
      padding: 250px 0 40px 0;
    }
    .social-button {
      right: 230px;
    }
  }
.image-biography{
   .wrap-image-biography{
    width: 675px;
   }
}
.logo-footer {
  margin-left: 16%;
}
.contact {
  margin-top: 60px;
}
.clear {
  padding-top: 45px;
}
.footer-social-button{
  right: 13%;
}
}
@media (max-width: 1440px){
  header{
    min-height: 770px;
    .social-button {
        right: 115px;
    }
    .logo{
      padding: 230px 0 40px 0;
      height: 320px;
      img{
        width: 110px;
      }
      h1 {
      font-size: 80px;
      }
    }
    .look{
      margin: 65px auto 0;
    }

  }
  .info {
    width: 506px;
  }
  .image-biography{
    width: 55%;
  }
  .iframe {
    width: 710px;
  }
  .contact {
      margin-right: 12%;
    }
  .logo-footer {
    margin-left: 10%;
}
.footer-social-button{
  right: 10%;
}
}
@media (max-width: 1368px) {
  header {
    min-height: 645px;
  .social-button {
    right: 50px;
    }
  .navigation-menu-social-button{
    display: none;
  }
  .logo {
    width: 470px;
    height: 276px;
    padding: 200px 0 54px 0;
    h1 {
      font-size: 68px;
    }
    img {
      width: 90px;
    }
    p {
      font-size: 20px;
    }
  }

  .look {
    margin: 40px auto 0;
    text-align: center;
  }
  .navigation-menu-wrap {
    width: 95%;
  }



  }
  .top-content {
    height: 420px;
    .text {
      font-size: 100px;
      padding: 70px 0;
      margin-left: 10%;
    }

  }
  .image-web-desing {
    font-size: 240px;
    height: 370px;
  }


  .image-development {
    height: 370px;
    font-size: 110px;
  }


  .image-seo {
    height: 370px;
    font-size: 420px;
  }


  .info, .info-biography {
    width: 35%;
    padding-top: 50px;
    h2 {
    font-size: 50px;
    }
  }


  .location {
    h3{
    font-size: 40px;
    }
  }

.iframe {
    width: 94%;
  }


  article {
    width: 100%;
    img {
    width: 95%;
    }
  }


  .gallery {
    width: 46%;
    margin: 0 -25px 20px 44px;
    padding: 0;
  }

.grid{

  figure{
    max-width: 48%;
  }

}
footer{
  height: 120px;
}
.logo-footer {
    margin-left: 8%;
    padding-top: 35px;
    width: 320px;
    img{
      width: 57px;
    }
    p{
      font-size: 40px;
    }
}
.footer-social-button {
    right: 4%;
    top: 40px;
}


}
@media (max-width: 1280px) {
  header{
    .navigation-menu-wrap {
      width: 99%;
  }
  .navigation-menu ul.navigation {
      margin-left: 1%;
    }
  .menu-logo {
    font-size: 30px;
    img {
      margin: -6px 3px;
    }
  }
  }
  .image-biography{
    .wrap-image-biography {
      width: 90%;
    }
}

}
/* Medium Devices, Desktops */
@media (max-width: 1030px) {

  .image-development{
    .img-text {
      width: 570px;
    }
  }


  .info, .info-biography {
    padding-top: 0;
     h2 {
      font-size: 40px;
      }
  }


  .image-biography {
    margin-left: 3%;
    height: 390px;
    .photo-gallery{
      height: 100px;
      figcaption{
        bottom: 6px;
        left: -30px;
      }
    }
  }
  .contact {
    width: 23%;
    margin-right: 15%;
  }
  .image-web-desing {
    font-size: 200px;
    width: 55%;
    p{
      padding: 100px 15px;
    }
  }
  .image-development {
    font-size: 100px;
    width: 55%;
    p{
      margin-left: 80px;
      padding-top: 90px;
    }
  }
  .image-seo {
      width: 55%;
      font-size: 370px;
    }
    .top-content{
      .text {

    }
  }
  .image-biography{
     .wrap-image-biography{
      width: 100%;
     }
  }
  .location{
    ul{
      width: 280px;
    }
    .iframe {
      height: 480px;
    }
  }
  .logo-footer {
    margin-left: 3%;
 }
}
@media (max-width: 1020px){
  header{
    .navigation-menu li.navigation a.navigation {
      padding-top: 15px;
      font-size: 15px;
    }
    .navigation-menu .link-menu {
      margin: 7px 7px;
      }
    .menu-logo {
      float: none;
      width: 31%;
      margin: 8px auto;
    }
    }
  }

@media (max-width: 780px) {
  .info h2, .info-biography h2{
    text-align: center;
  }
  header {
    height: 900px;
    .social-button {
      right: 30px;
    }
    .logo {
      width: 80%;
      height: 490px;
      padding-top: 165px;
      p {
        font-size: 30px;
        opacity: 0.8;
      }
      img {
      padding: 140px 0 10px;
      }
    }
    .order-button {
      margin-top: 3px;
      width: 90%;
      img {
        width: 100%;
      }
    }
    .look {
      font-size: 18px;
      margin: 110px auto 0;
    }
  }
  .top-content {
    height: 340px;
    .text {
      width: 200px;
      font-size: 70px;
    }
  }
  .image-web-desing {
    width: 100%;
  }
  .info, .info-biography {
    width: 91%;
  }
  .image-development {
    width: 100%;
  }
  .image-seo {
    width: 100%;
    p{
      margin-top:20px;
    }
  }
  .grid {
    figure{
      float: none;
      margin: 10px auto;
      max-width: 78%;
    }
  }
  .hiden-gallery{
    display: none;
  }
  .image-biography {
    margin: 0;
    width: 100%;
    float: none;
    text-align: center;
    .photo-gallery{
      height: 140px;
      figcaption{
        visibility: visible;
        left: 10px;
      }
      &:hover{
        img{
          top: 0;
          left: 0;
          width:100%;
        }
      }
    }
  }
  .iframe {
    height: 400px;
    padding-bottom: 30px;
    width: 94%;
  }
  .map {
    width: 95%;
  }
  .contact {
    width: 35%;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  .location{
     ul {
       margin: 0 auto 30px;
       clear: both;
       width: 340px;
     }
     h3 {
       text-align: center;
     }
     a{
       text-align: center;
     }
   }
   footer {
    height: 160px;
   }
   .logo-footer{
     width: 100%;
     margin-left: 0;
     padding-top: 20px;
     p{
       font-size: 40px;
     }
     img{
       width: 60px;
       float: none;
     }
   }
   .footer-social-button {
     position: absolute;
     top: 120px;
     right: 43%;
  }
  .imgwidth{
    img{
      width: 60%;
    }
  }
}
@media (max-width: 768px){
  header{
    background-image: url("../img/top_bg_tablet.jpg");
    background-size: cover;
    .logo{
      h1{
        padding-left: 5px;
      }
    }
    .menu-logo {
      width: auto;
      text-align: center;
      img{
        float:none;
        display: inline-block;
        margin: -10px 3px;
      }
      p{
        float: none;
        display: inline-block;
      }
  }
  .navigation-menu-wrap {
    position: relative;
    .close-navigation-menu{
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 30px;
      display: block;
      i{
        color: #4d4d4d;
      }
    }
  }
  .close-button{
    display: block;
    position: absolute;
    top: 1%;
    right: 1%;
    img{
      width: 30px;
    }
  }
  .navigation-menu{
    top:-100%;
    height: auto;
    ul.navigation{
      width: 90%;
      margin: 0 auto;
      float:none;
    }
    li.navigation{
      display: block;
      margin: 0;
      a.navigation{
        &:before{
          display: none;
          }
        &:after{
          display: none;
        }
      }
    }
    .link-menu{
      margin: 20px auto;
      float: none;
    }
  }
  }

  .is-fixed {
    display: none;
  }
}
@media (max-width: 640px) {
  header {
    height: 820px;
    .order-button {
        margin-top: -38px;
      }
    .look {
      left: 32%;
      display: none;
    }
    .logo {
      h1{
        font-size: 50px;
      }
      p{
       margin: 0;
       font-size: 18px;
      }
    }
  }
  .grid figure {
    width: 90%;
  }


  .top-content {
    height: 260px;
    .text {
      padding: 30px 60px;
    }
  }
  .image-biography {
    .photo-gallery{
      height: 110px;
      figcaption{

      }
    }
  }
}
@media (max-width: 520px) {
  header {
    height: 700px;
    .logo {
      padding-top: 80px;
      width: 100%;
    }
    .look {
      font-size: 18px;
      left: 30%;
      bottom: 15px;
    }
  }

  .info, .info-biography {
    width: 85%;
  }
  .top-content {
    height: 220px;
    .text {
      padding: 30px 30px;
      width: 170px;
      font-size: 56px;
      margin-left: 5%;
    }
  }
  .image-biography{
    .photo-gallery {
      height: 90px;
      p{
        font-size:14px;
      }
      span{
        font-size: 13px;
      }
      }
    }

  .footer-social-button {
    right: 35%;
  }
  .contact {
    width: 60%;
  }

}
@media (max-width: 480px){
  header{
    background-image: url("../img/top_bg_phone.jpg");
    background-size: cover;
    .logo{
      img{
        width: 60px;
      }
       h1 {
        font-size: 32px;
      }
      p{
        font-size: 16px;
        width: 63%;
        margin: 10px auto;
      }
    }

  }
  .image-biography {
      height: 317px;
      .photo-gallery {
        width: 45%;
        margin: 0 0 5px 0;
        height: 120px;
      }
    }

    .image-seo {
      font-size: 270px;
  }
  .image-web-desing {
    font-size: 140px;
  }

  article{
    img {
      width: 85%;
    }
  }
  .image-development{
    font-size: 70px;
    .img-text {
      width: 100%;
    }
    p {
    margin-left: 10px;
  }
}
.section-title {
  font-size: 35px;
  p{
    padding: 70px 10px;
  }
}
.location{
   ul {
    width: 270px;
  }
}
}
@media (max-width: 380px){
  .footer-social-button {
    right: 34%;
}
.contact {
  width: 81%;
}
.image-seo p {
    margin-left: 10px;
}
  .image-biography {
    .photo-gallery {
      height: 100px;
    }
  }
}
@media (max-width: 330px) {
  header {
    .look {
      font-size: 18px;
      left: 19%;
    }
    .order-button {
      margin-top: 28px;
    }
    .social-button {
      ul {
        span {
          font-size: 37px;
          width: 237px;
        }
      }
    }
  }
  .top-content {
    .text {
      padding: 30px 0;
    }
  }

  .image-web-desing {
    font-size: 120px;
  }
  .logo {
    p {
      font-size: 18px;
    }
  }

  .image-biography {
    .photo-gallery {
      height: 90px;
      p{
        font-size: 12px;
      }
      span{
        font-size: 11px;
      }
    }
  }
  .footer-social-button {
    right: 33%;
  }

}
